XMLSchema/PlanetSwift.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ps="http://schema.smallplanet.com/PlanetSwift" targetNamespace="http://schema.smallplanet.com/PlanetSwift">

	<element name="Object" type="ps:Object"/>
	<complexType name="Object">
		<sequence>
			<element ref="ps:Object" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="title" type="string"/>
	</complexType>

	<element name="View" type="ps:View"/>
	<complexType name="View">
		<complexContent>
			<extension base="ps:Object">
				<sequence>
					<element ref="ps:View" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
				<attribute name="frame" type="ps:rect"/>
				<attribute name="color" type="ps:color"/>
				<attribute name="clipsToBounds" type="boolean"/>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="rect">
		<annotation>
			<appinfo>CGRect</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>

	<simpleType name="color">
		<!-- A color, represented in #rrggbbaa format. Remember the # is required! -->
		<annotation>
			<appinfo>UIColor</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>

</schema>
