XMLSchema/PlanetSwift.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ui="http://schema.smallplanet.com/PlanetUI" targetNamespace="http://schema.smallplanet.com/PlanetUI">

	<element name="Object" type="ui:Object"/>
	<complexType name="Object">
		<sequence>
			<any minOccurs="0" maxOccurs="unbounded" />
		</sequence>
		<attribute name="id" type="string"/>
		<attribute name="styleFile" type="string"/>
		<attribute name="styleId" type="string"/>
	</complexType>

	<element name="View" type="ui:View"/>
	<complexType name="View">
		<complexContent>
			<extension base="ui:Object">
				<attribute name="frame" type="ui:rect"/>
				<attribute name="color" type="ui:color"/>
				<attribute name="alpha" type="decimal"/>
				<attribute name="hidden" type="boolean"/>
				<attribute name="clipsToBounds" type="boolean"/>
				<attribute name="tag" type="integer"/>
				<attribute name="contentMode" type="ui:ContentMode"/>
			</extension>
		</complexContent>
	</complexType>

	<element name="Scene" type="ui:Scene"/>
	<complexType name="Scene">
		<complexContent>
			<extension base="ui:View">
			</extension>
		</complexContent>
	</complexType>

	<element name="Label" type="ui:Label"/>
	<complexType name="Label">
		<complexContent>
			<extension base="ui:View">
				<attribute name="text" type="string"/>
				<!-- <attribute name="attributedString" type=""/> -->
				<attribute name="fontName" type="string"/>
				<attribute name="fontSize" type="decimal"/>
				<attribute name="textColor" type="ui:color"/>
				<attribute name="textAlignment" type="ui:TextAlignment"/>
				<!-- <attribute name="lineBreakMode" type="enums_tbd"/> -->
				<attribute name="adjustsFontSizeToFitWidth" type="boolean"/>
				<attribute name="minimumScaleFactor" type="decimal" default="0.0"/>
				<attribute name="numberOfLines" type="integer"/>
				<!-- <attribute name="shadowColor" type="ui:color"/> -->
				<!-- <attribute name="shadowOffset" type="ui:size"/> -->
			</extension>
		</complexContent>
	</complexType>

	<element name="Button" type="ui:Button"/>
	<complexType name="Button">
		<complexContent>
			<extension base="ui:View">
				<attribute name="onTouchUp" type="string" />
				<attribute name="onTouchDown" type="string" />
				<!-- <attribute name="isToggle" type="boolean" default="false"/> -->
				<attribute name="tintColor" type="ui:color" />
				<attribute name="title" type="string" />
				<attribute name="titleHighlighted" type="string" />
				<attribute name="titleSelected" type="string" />
				<attribute name="titleSelectedHighlighted" type="string" />
				<attribute name="titleDisabled" type="string" />
				<attribute name="titleFontColor" type="ui:color" />
				<attribute name="titleFontColorHighlighted" type="ui:color" />
				<attribute name="titleFontColorSelected" type="ui:color" />
				<attribute name="titleFontColorSelectedHighlighted" type="ui:color" />
				<attribute name="titleFontColorDisabled" type="ui:color" />
				<attribute name="titleFont" type="string" />
				<attribute name="titleFontSize" type="decimal" default="15" />
				<attribute name="isToggle" type="boolean" default="false"/>
				<attribute name="backgroundColor" type="ui:color" />
				<attribute name="backgroundColorHighlighted" type="ui:color" />
				<attribute name="backgroundColorSelected" type="ui:color" />
				<attribute name="backgroundColorSelectedHighlighted" type="ui:color" />
				<attribute name="backgroundColorDisabled" type="ui:color" />
				<attribute name="backgroundImage" type="string" />
				<attribute name="backgroundImageHighlighted" type="string" />
				<attribute name="backgroundImageSelected" type="string" />
				<attribute name="backgroundImageSelectedHighlighted" type="string" />
				<attribute name="backgroundImageDisabled" type="string" />
				<attribute name="image" type="string" />
				<attribute name="imageHighlighted" type="string" />
				<attribute name="imageSelected" type="string" />
				<attribute name="imageSelectedHighlighted" type="string" />
				<attribute name="imageDisabled" type="string" />
				<attribute name="backgroundImageSet" type="string" />
				<attribute name="imageSet" type="string" /> <!-- "Quality of life" attribute that, given a path, will fill out all the image states for the button using the naming convention: "path"_normal, "path"_highlighted, "path"_selected, "path"_selected_highlighted, "path"_disabled -->
			</extension>
		</complexContent>
	</complexType>

	<element name="TextField" type="ui:TextField"/>
	<complexType name="TextField">
		<complexContent>
			<extension base="ui:View">
				<attribute name="text" type="string"/>
				<attribute name="placeholder" type="string"/>
				<attribute name="fontName" type="string"/>
				<attribute name="fontSize" type="decimal" default="12" />
				<attribute name="textColor" type="ui:color"/>
				<attribute name="textAlignment" type="ui:TextAlignment"/>
				<attribute name="adjustsFontSizeToFitWidth" type="boolean"/>
				<attribute name="minimumFontSize" type="decimal" default="0.0"/>
				<attribute name="onBeginEditing" type="string"/>
				<attribute name="onEndEditing" type="string"/>
				<attribute name="onReturnPressed" type="string"/>
				<attribute name="borderStyle" type="ui:TextFieldBorderStyle"/>
			</extension>
		</complexContent>
	</complexType>

	<element name="TextView" type="ui:TextView"/><!-- typically better than TextField only for multi-line text input -->
	<complexType name="TextView">
		<complexContent>
			<extension base="ui:View">
				<attribute name="text" type="string"/>
				<attribute name="fontName" type="string"/>
				<attribute name="fontSize" type="decimal" default="12" />
				<attribute name="textColor" type="ui:color"/>
				<attribute name="textAlignment" type="ui:TextAlignment"/>
				<attribute name="selectable" type="boolean"/>
				<attribute name="editable" type="boolean"/>
				<attribute name="onChange" type="string"/>
				<attribute name="onEndEditing" type="string"/>
			</extension>
		</complexContent>
	</complexType>

	<element name="ImageView" type="ui:ImageView"/>
	<complexType name="ImageView">
		<complexContent>
			<extension base="ui:View">
				<attribute name="urlPath" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<element name="NetworkImageView" type="ui:NetworkImageView"/>
	<complexType name="NetworkImageView">
		<complexContent>
			<extension base="ui:ImageView">
				<attribute name="placeholderPath" type="string" />
				<attribute name="placeholderContentMode" type="ui:ContentMode"/>
			</extension>
		</complexContent>
	</complexType>

	<element name="WebView" type="ui:WebView"/>
	<complexType name="WebView">
		<complexContent>
			<extension base="ui:View">
				<attribute name="url" type="string" />
				<attribute name="scalesToFit" type="boolean" />
				<attribute name="suppressesIncrementalRendering" type="boolean" /> <!-- Whether the web view suppresses content rendering until it is fully loaded into memory -->
				<attribute name="allowsInlineMediaPlayback" type="boolean" /> <!-- Determines whether HTML5 videos play inline or use the native full-screen controller -->
				<attribute name="mediaPlaybackRequiresUserAction" type="boolean" /> <!-- Determines whether HTML5 videos can play automatically or require the user to start playing them -->
			</extension>
		</complexContent>
	</complexType>

	<element name="PickerView" type="ui:PickerView"/>
	<complexType name="PickerView">
		<complexContent>
			<extension base="ui:View">
			</extension>
		</complexContent>
	</complexType>

	<element name="VisualEffectView" type="ui:VisualEffectView"/>
	<complexType name="VisualEffectView">
		<complexContent>
			<extension base="ui:View">
				<attribute name="effect" type="ui:BlurEffect" />
			</extension>
		</complexContent>
	</complexType>

	<element name="Notification" type="ui:Notification" />
	<complexType name="Notification">
		<complexContent>
			<extension base="ui:Object">
				<attribute name="scopedName" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<element name="Controller" type="ui:Controller" />
	<complexType name="Controller">
		<complexContent>
			<extension base="ui:Object">
				<sequence>
					<element ref="ui:Notification" minOccurs="0" maxOccurs="unbounded" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="Constraint" type="ui:Constraint" />
	<complexType name="Constraint">
		<complexContent>
			<extension base="ui:Object">
				<attribute name="priority" type="int" default="1000" />
				<attribute name="firstItem" type="string" use="required" />
				<attribute name="secondItem" type="string" use="optional" />
				<attribute name="firstAttribute" type="ui:LayoutAttribute" default="notAnAttribute" />
				<attribute name="secondAttribute" type="ui:LayoutAttribute" default="notAnAttribute" />
				<attribute name="relation" type="ui:LayoutRelation" default="equal" />
				<attribute name="multiplier" type="float" default="1" />
				<attribute name="constant" type="float" default="0" />
			</extension>
		</complexContent>
	</complexType>

<!-- enumerations -->

	<simpleType name="BlurEffect">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
		<restriction base="string">
			<enumeration value="extraLight" />
			<enumeration value="light" />
			<enumeration value="dark" />
		</restriction>
	</simpleType>

	<simpleType name="TextAlignment">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
		<restriction base="string">
			<enumeration value="Left" />
			<enumeration value="Center" />
			<enumeration value="Right" />
			<enumeration value="Justified" />
			<enumeration value="Natural" />
		</restriction>
	</simpleType>

	<simpleType name="TextFieldBorderStyle">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
		<restriction base="string">
			<enumeration value="none" />
			<enumeration value="line" />
			<enumeration value="bezel" />
			<enumeration value="roundedRect" />
		</restriction>
	</simpleType>

	<simpleType name="LayoutAttribute">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
		<restriction base="string">
			<enumeration value="left" />
			<enumeration value="right" />
			<enumeration value="top" />
			<enumeration value="bottom" />
			<enumeration value="leading" />
			<enumeration value="trailing" />
			<enumeration value="width" />
			<enumeration value="height" />
			<enumeration value="centerX" />
			<enumeration value="centerY" />
			<enumeration value="baseline" />
			<enumeration value="notAnAttribute" />
		</restriction>
	</simpleType>

	<simpleType name="LayoutRelation">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
		<restriction base="string">
			<enumeration value="lessThanOrEqual" />
			<enumeration value="equal" />
			<enumeration value="greaterThanOrEqual" />
		</restriction>
	</simpleType>

	<simpleType name="ContentMode">
		<annotation>
			<appinfo>NAMED_ENUM</appinfo>
		</annotation>
		<restriction base="string">
			<enumeration value="scaleToFill" />
			<enumeration value="scaleAspectFit" />
			<enumeration value="scaleAspectFill" />
			<enumeration value="redraw" />
			<enumeration value="center" />
			<enumeration value="top" />
			<enumeration value="bottom" />
			<enumeration value="left" />
			<enumeration value="right" />
			<enumeration value="topLeft" />
			<enumeration value="topRight" />
			<enumeration value="bottomLeft" />
			<enumeration value="bottomRight" />
		</restriction>
	</simpleType>

	<!-- types -->

	<simpleType name="rect">
		<annotation>
			<appinfo>CGRect</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>

	<simpleType name="color">
		<!-- A color, represented in #rrggbbaa format. Remember the # is required! -->
		<annotation>
			<appinfo>UIColor</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>

</schema>
